<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - flashyourmeme</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/flashyourmeme.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="flex-column sidebar">
        <div class="logo bg-white">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <div class="logo-container">
                    <img src="~/flash_logo.png" alt="flashyourmeme Logo" class="logo-image">
                    <span class="logo-text">FLASHYOURMEME</span>
                </div>
            </a>
        </div>
        <div class="sidebar-menu">
        
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="fas fa-tachometer-alt"></i> Dashboard
            </a>
            <a class="nav-link" asp-area="" asp-controller="Photo" asp-action="Index">
                <i class="fas fa-image"></i> Photo Storage
            </a>
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Template">
                <i class="fas fa-th"></i> Template Overview
            </a>
            <a class="nav-link" asp-area="" asp-controller="Filter" asp-action="Index">
                <i class="fas fa-filter"></i> Filter Library
            </a>
            <a class="nav-link" asp-area="" asp-controller="Voucher" asp-action="Index">
                <i class="fas fa-ticket-alt"></i> Create Voucher
            </a>
            <a class="nav-link" asp-area="" asp-controller="Branch" asp-action="Index">
                <i class="fas fa-sitemap"></i> Branch Management
            </a>
            <a class="nav-link" asp-area="" asp-controller="Setting" asp-action="Index">
                <i class="fa-solid fa-gear"></i>Display Setting
            </a>
        </div>
    </div>
    <div class="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class=" footer text-muted text-center bg-white">
        <div class="container">
            &copy; 2024 - flashyourmeme - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>